/*清除浮动，解决margin-top的塌陷*/

.clearfix::after {
  content: ""; /*设置内容为空*/
  display: block; /*将文本转为块级元素*/
  clear: both; /*清除浮动*/
}

.clearfix {
  zoom: 1; /*兼容IE*/
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.w-1200 {
  width: 1200px;
  margin: 0 auto;
}

.df-aic {
  display: flex;
  align-items: center;
}

.d-ib {
  display: inline-block;
}

.df-aic {
  display: flex;
  align-items: center;
}

.df-aic-jcfe {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.df-aic-jcsa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.df-aic-jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.df-aic-jcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.high-router {
  background-color: red;
  color: white;
}

/* 编辑框插入弹窗 */
.edit-container {
  position: absolute;
  top: 45px;
  left: 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
